
body{
    background-color: #e6f9ff;
    font-family: 'Barlow', sans-serif;
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 30px;
    margin: 0;
    overflow: hidden;
    background-color: blue;
}

  
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: black;
}
  
.active {
    background-color:rgba(45, 46, 45, 0.164);
}

main{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}

section{
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}
.section-title{
    color: #339933
}
a{
    text-decoration: none;
}
.top-players, .blogs, .courses{
    display: grid;
    grid-gap:30px;
    margin-top: 20px;
    place-items: center;
    
}


.bttn{
    transition: all 0.5s;
}
.bttn:hover{
    padding-right: 25px;
color: lightcoral;
    border-radius: 8%;
}


hr{
    margin-top: 40px;
    margin-bottom: 40px;
}
.top-players, .courses{
    grid-template-columns: repeat(3, 1fr);
}
.blogs{
    grid-template-columns: repeat(2, 1fr);
}
.player, .blog{
    display: flex;
    align-items: center;
}

.player img{
    height: 50px;
    margin-right: 20px;
}
.thumbnail img{
    width: 200px;
    margin-right: 20px;
}

.unfilled{
    color: lightgray;
    font-size: 0.8em;
}
.course img{
    width: 200px;
}
.course-info{
    display: flex;
}

.course{
    box-shadow: 15px 15px 15px #888888;
    border-radius: 5px;

}
#word-wrap{
    word-wrap: break-word;
    text-align: center;
}

@media (max-width:992px){
    .top-players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:668px){
    .top-players, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        display: block;
    }
}
